$color-primary: #3fbfbfc5;
$color-secondary: #347D6Cc5;
$color-text: #777;
$color-grey-light-1: #f7f7f7;

// Font sizes
$default-font-size: 1.7rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 3rem;
