$color-primary: #9d8ab5;
$color-primary-dark: #3f3250;
$color-text: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #888;

$color-secondary-light: #e14658;
$color-secondary-dark: #7e1420;


$color-tertiary-light: #626b7f;
$color-tertiary-dark: #22252c;

// Font sizes
$default-font-size: 1.7rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 5rem;
