.composition {
  position: relative;
  transition: all .2s;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(black, .4);
    position: absolute;

    @include media(tablet-port) {
      float: left;
      position: relative;
      width: 33.333%;
      box-shadow: 0 1.5rem 3rem rgba(black, .2);
    }

    &--1 {
      left: 2rem;
      top: 3rem;
      @include media(tablet-port) {
        top: 0;
        transform: scale(1.2);
      }
    }

    &--2 {
      right: 0;
      top: 9rem;
      @include media(tablet-port) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 50;
      }
    }

    &--3 {
      top: 18rem;
      left: 20%;
      @include media(tablet-port) {
        top: 0;
        left: 0;
        transform: scale(1.1);
      }
    }

    &:hover {
      z-index: 3;
      transform: scale(1.1) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba(black, .5);
      outline: 15px solid $color-primary;
      outline-offset: 2rem;
    }
    

  }

  &:hover &__photo:not(:hover) {
      transform: scale(0.95);
  }
}