*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include media(tablet-land) {
    font-size: 55%;
  }

  @include media(tablet-port) {
    font-size: 50%;
  }

  @include media(phone) {
    font-size: 45%;
  }
  
  @include media(big-desktop) {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: $color-text;
  padding: 3rem;
  box-sizing: border-box;
  @include media(tablet-port) {
    padding: 0;
  }
}