
.body {
}

.header__main-heading {
    font-weight: 300;
    color: white;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--top {
      font-size: 6rem;
      letter-spacing: 1.5rem;
      display: block;
      text-transform: uppercase;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      @include media(phone) {
        font-size: 5rem;
        letter-spacing: 1rem;
      }
    }

    &--sub {
      display: block;
      font-size: 4rem;
      letter-spacing: 1rem;
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      @include media(phone) {
        font-size: 3rem;
        letter-spacing: .5rem;
      }
    }
  }

  .heading-secondary {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text; //clip background to be only behind the text
    color: transparent; // to see the background through
    letter-spacing: 2px;
    text-shadow: .5rem 1rem 2rem rgba(black, .2);
    @include media(tablet-port) {
      font-size: 3rem;
    }
    @include media(phone) {
      font-size: 2.5rem;
    }
  }

  .heading-tertiary {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .text-white {
    color: white;
  }

  .paragraph {
    font-size: $default-font-size;
    line-height: 3rem;
    color: $color-text;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    @include media(phone) {
      font-size: 2rem;
    }
  }
